Repository eddieland/twig: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, mdformat

fmt:
  name: rustfmt
  description: Format Rust code with rustfmt.
  entry: cargo fmt --
  language: system
  pass_filenames: true

clippy:
  name: clippy
  description: Lint Rust code with clippy.
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  description: Format Markdown files with mdformat.
  entry: uvx --from mdformat --with mdformat-gfm mdformat --wrap 120
  language: system
  pass_filenames: true

Extract shared delete_local_branch helper into twig-core
  plugins/twig-prune/src/lib.rs
  twig-cli/src/git.rs
  twig-core/src/git/branches.rs
  twig-core/src/git/mod.rs
  twig-core/src/lib.rs
Due: fmt, clippy

Fix MultiSelect error handling and use print_success for status output
  plugins/twig-prune/src/lib.rs
Due: fmt, clippy

Improve twig-prune UX with multi-select and rich formatting (#353)
  Cargo.lock
  plugins/twig-prune/Cargo.toml
  plugins/twig-prune/src/lib.rs
  twig-cli/src/git.rs
  twig-core/src/git/branches.rs
  twig-core/src/git/mod.rs
  twig-core/src/lib.rs
Due: fmt, clippy

docs: backfill remaining OpenSpec specs for mcp-server, plugin-system, and self-management
  openspec/seeding.md
  openspec/specs/mcp-server/spec.md
  openspec/specs/plugin-system/spec.md
  openspec/specs/self-management/spec.md
Due: mdformat

feat: add automated demo GIF generation with VHS
  .github/workflows/vhs.yml
  Makefile
  docs/demos/.gitkeep
  docs/tapes/branch-depend.tape
  docs/tapes/cascade.tape
  docs/tapes/demo-setup.sh
  docs/tapes/help.tape
  docs/tapes/setup.tape
  docs/tapes/tree.tape
Due: none

fixup! docs: backfill remaining OpenSpec specs for mcp-server, plugin-system, and self-management
  openspec/seeding.md
  openspec/specs/mcp-server/spec.md
  openspec/specs/plugin-system/spec.md
  openspec/specs/self-management/spec.md
Due: mdformat

fixup! docs: backfill remaining OpenSpec specs for mcp-server, plugin-system, and self-management
  openspec/specs/mcp-server/spec.md
Due: mdformat

Replace pre-commit with prek for git hook management
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
Due: mdformat

Seed all 20 capability specs with WHEN/THEN/AND requirements (#354)
  openspec/seeding.md
  openspec/specs/mcp-server/spec.md
  openspec/specs/plugin-system/spec.md
  openspec/specs/self-management/spec.md
Due: mdformat

Keep pre-commit-setup/pre-commit-run Makefile target names
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
Due: mdformat

Use "pre-commit hooks" in prose, mention prek as the tool
  CLAUDE.md
  CONTRIBUTING.md
Due: mdformat

Replace pre-commit with prek for hook management (#361)
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
Due: mdformat

fix: replace per-commit graph_descendant_of with merge-base precomputation in fixup
  twig-cli/src/fixup/commit_collector.rs
Due: fmt, clippy

Fix branch-unique detection semantics and add error logging
  twig-cli/src/fixup/commit_collector.rs
Due: fmt, clippy

Optimize branch-unique commit detection with pre-computed set (#368)
  twig-cli/src/fixup/commit_collector.rs
Due: fmt, clippy

Add --up/--down flags to twig flow for tree navigation
  plugins/twig-flow/src/cli.rs
  plugins/twig-flow/src/switch.rs
  plugins/twig-flow/src/tree.rs
  twig-core/src/git/mod.rs
  twig-core/src/git/tree.rs
Due: fmt, clippy

Fix duplicate entries in collect_tree_order and remove stale comment
  plugins/twig-flow/src/tree.rs
  twig-core/src/git/tree.rs
Due: fmt, clippy

Make twig flow terminal-width-aware to prevent column wrapping
  Cargo.lock
  Cargo.toml
  plugins/twig-flow/Cargo.toml
  plugins/twig-flow/src/tree.rs
  twig-core/Cargo.toml
  twig-core/src/git/renderer.rs
  twig-core/src/git/snapshots/twig_core__git__renderer__tests__flow_renderer__max_width_45.snap
  twig-core/src/git/snapshots/twig_core__git__renderer__tests__flow_renderer__max_width_60.snap
Due: fmt, clippy

Delete .mcp.json
  .mcp.json
Due: none

Apply rustfmt formatting
  plugins/twig-flow/src/tree.rs
Due: fmt, clippy

Add tree navigation with --up and --down flags (#380)
  plugins/twig-flow/src/cli.rs
  plugins/twig-flow/src/switch.rs
  plugins/twig-flow/src/tree.rs
  twig-core/src/git/mod.rs
  twig-core/src/git/tree.rs
Due: fmt, clippy

Apply rustfmt formatting to cascade test module
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Add unit tests for cascade rebase ordering
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Fix cascade rebase order to process parent branches before children
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Fix rebase order in cascade by reversing DFS post-order result (#379)
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Replace no-worries panic handler with human-panic
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  no-worries/Cargo.toml
  no-worries/README.md
  no-worries/src/lib.rs
  twig-cli/Cargo.toml
  twig-cli/src/cli/mod.rs
  twig-cli/src/main.rs
Due: fmt, clippy, mdformat

Add --disable flag to MCP server for configurable tool groups
  twig-mcp/src/main.rs
  twig-mcp/src/server.rs
Due: fmt, clippy

Fix formatting in twig-mcp tests
  twig-mcp/src/server.rs
Due: fmt, clippy

Centralize tool group mappings and drop redundant CLI help text
  twig-mcp/src/main.rs
  twig-mcp/src/server.rs
Due: fmt, clippy

Configure human-panic with custom metadata for crash reports
  twig-cli/src/main.rs
Due: fmt, clippy

Fix formatting in setup_panic! macro call
  twig-cli/src/main.rs
Due: fmt, clippy

Add --disable flag to selectively disable tool groups (#382)
  twig-mcp/src/main.rs
  twig-mcp/src/server.rs
Due: fmt, clippy

flow: recover gracefully from stale Jira branch associations
  plugins/twig-flow/src/switch.rs
  twig-core/src/state.rs
Due: fmt, clippy

flow: address sourcery review on stale Jira recovery
  plugins/twig-flow/src/switch.rs
Due: fmt, clippy

Handle stale Jira associations when branches are deleted (#393)
  plugins/twig-flow/src/switch.rs
  twig-core/src/state.rs
Due: fmt, clippy

fix(cascade): make "Abort stay here" actually stay on the conflict branch
  openspec/specs/cascade-rebase/spec.md
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy, mdformat

Fix "Abort stay here" to stop cascade instead of skipping branch (#396)
  openspec/specs/cascade-rebase/spec.md
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy, mdformat

v0.7.1
  Cargo.lock
  Cargo.toml
Due: none

Filter PRs server-side in find_pull_requests_by_head_branch
  twig-cli/src/cli/github.rs
  twig-gh/src/endpoints/pulls.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  mdformat: any of: \.(md|markdown|mdown)$
