Repository eddieland/twig: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, mdformat

fmt:
  name: rustfmt
  description: Format Rust code with rustfmt.
  entry: cargo fmt --
  language: system
  pass_filenames: true

clippy:
  name: clippy
  description: Lint Rust code with clippy.
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  description: Format Markdown files with mdformat.
  entry: uvx --from mdformat --with mdformat-gfm mdformat --wrap 120
  language: system
  pass_filenames: true

Address PR review comments for feature/github-endpoints
  twig-gh/src/endpoints/issues.rs
  twig-gh/src/endpoints/pulls.rs
  twig-gh/src/models.rs
Due: fmt, clippy

fix: address cascade-improvements code review issues
  tests/rebase_cascade_test.rs
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/rebase.rs
  twig-cli/src/git_commands.rs
  twig-cli/src/lib.rs
Due: fmt, clippy

feat: cascade improvements - stdin fix, force-push, replaced-commits tracking
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/rebase.rs
Due: fmt, clippy

feat: GitHub issues endpoint and create pull request
  twig-gh/src/endpoints/issues.rs
  twig-gh/src/endpoints/mod.rs
  twig-gh/src/endpoints/pulls.rs
  twig-gh/src/lib.rs
  twig-gh/src/models.rs
Due: fmt, clippy

fix(tidy): address code review feedback
  twig-cli/src/cli/adopt.rs
  twig-cli/src/cli/tidy.rs
  twig-cli/src/self_update/windows.rs
  twig-cli/src/utils.rs
Due: fmt, clippy

feat(tidy): expose --aggressive at top-level twig tidy command
  twig-cli/src/cli/tidy.rs
Due: fmt, clippy

migrate update command to twig-update plugin
  AGENTS.md
  Cargo.lock
  Cargo.toml
  plugins/twig-update/Cargo.toml
  plugins/twig-update/src/cli.rs
  plugins/twig-update/src/lib.rs
  plugins/twig-update/src/main.rs
  twig-cli/src/cli/mod.rs
  twig-cli/src/cli/self_cmd.rs
  twig-cli/src/cli/update.rs
  twig-cli/src/self_update/windows.rs
  twig-core/src/git/renderer.rs
Due: fmt, clippy, mdformat

feat: add update command for repository sync and cascade
  twig-cli/src/cli/mod.rs
  twig-cli/src/cli/update.rs
Due: fmt, clippy

fix(update): address all review comments from feature/update-command
  twig-cli/src/cli/mod.rs
  twig-cli/src/cli/update.rs
Due: fmt, clippy

fix: address all review comments for tree-enhancements PR
  twig-cli/src/self_update/windows.rs
  twig-cli/src/user_defined_dependency_resolver.rs
  twig-core/src/diamond_detector.rs
  twig-core/src/git/mod.rs
  twig-core/src/git/renderer.rs
  twig-core/src/tree_renderer.rs
Due: fmt, clippy

feat: add tidy command for branch cleanup and config pruning
  twig-cli/src/cli/mod.rs
  twig-cli/src/cli/tidy.rs
Due: fmt, clippy

feat: tree enhancements - ahead/behind counts and diamond pattern rendering
  twig-cli/src/auto_dependency_discovery.rs
  twig-cli/src/user_defined_dependency_resolver.rs
  twig-core/src/diamond_detector.rs
  twig-core/src/git/mod.rs
  twig-core/src/lib.rs
  twig-core/src/tree_renderer.rs
Due: fmt, clippy

fix: convert collect_rows to associated fn to resolve clippy only_used_in_recursion
  AGENTS.md
  twig-cli/src/cli/adopt.rs
  twig-cli/src/cli/tidy.rs
  twig-cli/src/self_update/windows.rs
  twig-core/src/git/renderer.rs
Due: fmt, clippy, mdformat

Ran formatter
  AGENTS.md
  twig-cli/src/self_update/windows.rs
  twig-cli/src/user_defined_dependency_resolver.rs
  twig-core/src/diamond_detector.rs
  twig-core/src/git/mod.rs
  twig-core/src/tree_renderer.rs
Due: fmt, clippy, mdformat

fixup! Add Rustdoc comments to twig-flow tree module
  plugins/twig-flow/src/tree.rs
Due: fmt, clippy

fix: resolve only_used_in_recursion clippy lint in renderer
  AGENTS.md
  twig-cli/src/self_update/windows.rs
  twig-core/src/git/renderer.rs
  twig-gh/src/endpoints/issues.rs
Due: fmt, clippy, mdformat

fix(renderer): convert collect_rows to associated fn to satisfy clippy::only_used_in_recursion
  twig-core/src/git/renderer.rs
Due: fmt, clippy

Ran formatter
  AGENTS.md
  twig-cli/src/cli/cascade.rs
  twig-cli/src/self_update/windows.rs
Due: fmt, clippy, mdformat

Add comprehensive documentation to tree.rs module (#349)
  plugins/twig-flow/src/tree.rs
Due: fmt, clippy

fix(cascade): abort branch and skip descendants on checkout/rebase failure
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

fix(cascade): abort rebase and mark branch failed when --continue/--skip fails
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

fix(renderer): remove unused self receiver from collect_rows
  twig-core/src/git/renderer.rs
Due: fmt, clippy

﻿fix(self-update): replace useless format! with .to_string() in windows script builder
  AGENTS.md
  twig-cli/src/self_update/windows.rs
Due: fmt, clippy, mdformat

﻿fix(rebase): re-prompt on second conflict after --skip or --continue
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/rebase.rs
Due: fmt, clippy

fix: checkout_branch leaves index stale after switching branches (#346)
  AGENTS.md
  twig-cli/src/self_update/windows.rs
  twig-core/src/git/branches.rs
  twig-core/src/git/renderer.rs
Due: fmt, clippy, mdformat

Add regression tests for stale index after checkout_branch
  twig-core/src/git/branches.rs
Due: fmt, clippy

fix: surface git error details when fixup commit fails
  twig-cli/src/cli/commit.rs
  twig-cli/src/fixup/creator.rs
Due: fmt, clippy

refactor: DRY fixup commit logic between commit and fixup commands
  twig-cli/src/cli/commit.rs
  twig-cli/src/fixup/creator.rs
Due: fmt, clippy

fix: avoid unnecessary allocations and trim trailing newlines in fixup error output
  twig-cli/src/fixup/creator.rs
Due: fmt, clippy

Improve error messages for failed fixup commit creation (#351)
  twig-cli/src/cli/commit.rs
  twig-cli/src/fixup/creator.rs
Due: fmt, clippy

fix(rebase): re-prompt on second conflict after --skip or --continue; fix useless_format lint (#350)
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/rebase.rs
  twig-core/src/git/renderer.rs
Due: fmt, clippy

refactor: extract shared rebase conflict helpers into rebase_common module
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/mod.rs
  twig-cli/src/cli/rebase.rs
  twig-cli/src/cli/rebase_common.rs
Due: fmt, clippy

refactor: address review feedback on rebase_common
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/rebase.rs
  twig-cli/src/cli/rebase_common.rs
Due: fmt, clippy

fix: skip 'up to date' check in force-rebase path
  twig-cli/src/cli/rebase_common.rs
Due: fmt, clippy

refactor: extract shared rebase conflict helpers into rebase_common (#352)
  twig-cli/src/cli/cascade.rs
  twig-cli/src/cli/mod.rs
  twig-cli/src/cli/rebase.rs
  twig-cli/src/cli/rebase_common.rs
Due: fmt, clippy

fixup! Add regression tests for stale index after checkout_branch
  twig-core/src/git/branches.rs
Due: fmt, clippy

Add regression tests for stale index after checkout_branch (#347)
  twig-core/src/git/branches.rs
Due: fmt, clippy

chore: bump version to v0.7.0
  Cargo.lock
  Cargo.toml
Due: none

Improve twig prune UX with multi-select, rich formatting, and structured summary
  Cargo.lock
  plugins/twig-prune/Cargo.toml
  plugins/twig-prune/src/lib.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  mdformat: any of: \.(md|markdown|mdown)$
