Repository eddieland/twig: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.snap$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: fmt
        name: rustfmt
        description: Format Rust code with rustfmt.
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: true

      - id: clippy
        name: clippy
        description: Lint Rust code with clippy.
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: mdformat
        name: mdformat
        description: Format Markdown files with mdformat.
        entry: uvx --from mdformat --with mdformat-gfm mdformat --wrap 120
        language: system
        types: [markdown]
        pass_filenames: true

Include twig-prune and twig-mcp in releases and add self-update commands
  .github/release-template.md
  .github/workflows/release.yml
  plugins/twig-prune/src/cli.rs
  twig-cli/src/cli/self_cmd.rs
  twig-cli/src/self_update/mod.rs
Due: fmt, clippy, mdformat

Unify AGENTS documentation
  AGENTS.md
  CLAUDE.md
Due: mdformat

Include twig-prune and twig-mcp in releases and add self-update commands (#328)
  .github/release-template.md
  .github/workflows/release.yml
  plugins/twig-prune/src/cli.rs
  twig-cli/src/cli/self_cmd.rs
  twig-cli/src/self_update/mod.rs
Due: fmt, clippy, mdformat

v0.6.0
  Cargo.lock
  Cargo.toml
  twig-mcp/Cargo.toml
Due: none

Relocate root documentation
  docs/migrating_from_argit.md
  docs/short_term_improvements.md
  docs/user_stories.md
Due: mdformat

Relocate PLUGINS.md
  docs/plugins.md
Due: mdformat

Remove unused wrapper script
  twig
Due: none

Seed OpenSpec capabilities
  openspec/config.yaml
  openspec/seeding.md
  openspec/specs/auto-sync/spec.md
  openspec/specs/branch-adoption/spec.md
  openspec/specs/branch-dependencies/spec.md
  openspec/specs/branch-switching/spec.md
  openspec/specs/branch-tree/spec.md
  openspec/specs/cascade-rebase/spec.md
  openspec/specs/commit-prefill/spec.md
  openspec/specs/credentials/spec.md
  openspec/specs/fixup-commits/spec.md
  openspec/specs/github-integration/spec.md
  openspec/specs/initialization/spec.md
  openspec/specs/jira-integration/spec.md
  openspec/specs/mcp-server/spec.md
  openspec/specs/plugin-system/spec.md
  openspec/specs/rebase/spec.md
  openspec/specs/repository-registry/spec.md
  openspec/specs/self-management/spec.md
  openspec/specs/stale-branch-cleanup/spec.md
  openspec/specs/worktrees/spec.md
Due: mdformat

Seed P0 OpenSpec requirements from existing behavior
  openspec/specs/branch-dependencies/spec.md
  openspec/specs/credentials/spec.md
  openspec/specs/initialization/spec.md
Due: mdformat

Address code review feedback on P0 OpenSpec specs
  openspec/specs/branch-dependencies/spec.md
  openspec/specs/credentials/spec.md
  openspec/specs/initialization/spec.md
Due: mdformat

Seed P0 OpenSpec requirements from existing behavior (#329)
  openspec/specs/branch-dependencies/spec.md
  openspec/specs/credentials/spec.md
  openspec/specs/initialization/spec.md
Due: mdformat

Seed P1 OpenSpec requirements from existing behavior
  openspec/specs/branch-switching/spec.md
  openspec/specs/branch-tree/spec.md
  openspec/specs/cascade-rebase/spec.md
  openspec/specs/commit-prefill/spec.md
  openspec/specs/fixup-commits/spec.md
  openspec/specs/rebase/spec.md
Due: mdformat

Address code review feedback on P1 OpenSpec specs
  openspec/specs/cascade-rebase/spec.md
  openspec/specs/rebase/spec.md
Due: mdformat

Seed P1 OpenSpec requirements from existing behavior (#330)
  openspec/specs/branch-switching/spec.md
  openspec/specs/branch-tree/spec.md
  openspec/specs/cascade-rebase/spec.md
  openspec/specs/commit-prefill/spec.md
  openspec/specs/fixup-commits/spec.md
  openspec/specs/rebase/spec.md
Due: mdformat

Seed P2 OpenSpec requirements from existing behavior
  openspec/specs/auto-sync/spec.md
  openspec/specs/branch-adoption/spec.md
  openspec/specs/github-integration/spec.md
  openspec/specs/jira-integration/spec.md
  openspec/specs/repository-registry/spec.md
  openspec/specs/stale-branch-cleanup/spec.md
  openspec/specs/worktrees/spec.md
Due: mdformat

fixup! Seed P2 OpenSpec requirements from existing behavior
  openspec/specs/auto-sync/spec.md
  openspec/specs/branch-adoption/spec.md
  openspec/specs/branch-tree/spec.md
  openspec/specs/cascade-rebase/spec.md
  openspec/specs/commit-prefill/spec.md
  openspec/specs/fixup-commits/spec.md
  openspec/specs/github-integration/spec.md
  openspec/specs/jira-integration/spec.md
  openspec/specs/rebase/spec.md
  openspec/specs/repository-registry/spec.md
  openspec/specs/repository-resolution/spec.md
  openspec/specs/stale-branch-cleanup/spec.md
  openspec/specs/worktrees/spec.md
Due: mdformat

Seed P2 OpenSpec requirements (#331)
  openspec/specs/auto-sync/spec.md
  openspec/specs/branch-adoption/spec.md
  openspec/specs/branch-tree/spec.md
  openspec/specs/cascade-rebase/spec.md
  openspec/specs/commit-prefill/spec.md
  openspec/specs/fixup-commits/spec.md
  openspec/specs/github-integration/spec.md
  openspec/specs/jira-integration/spec.md
  openspec/specs/rebase/spec.md
  openspec/specs/repository-registry/spec.md
  openspec/specs/repository-resolution/spec.md
  openspec/specs/stale-branch-cleanup/spec.md
  openspec/specs/worktrees/spec.md
Due: mdformat

Add cascade summary report and fix checkout detection
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Fix fragile git checkout detection in cascade command
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Add MCP prompt templates (stack-status, branch-context) (#327)
  twig-mcp/src/server.rs
Due: fmt, clippy

Refactor stack-status and branch-context MCP prompts
  twig-mcp/src/server.rs
Due: fmt, clippy

fixup! Fix fragile git checkout detection in cascade command
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Fix fixup author filter to always include branch-unique commits
  twig-cli/src/fixup/commit_collector.rs
Due: fmt, clippy

Refactor git command execution to return structured output (#332)
  twig-cli/src/cli/cascade.rs
Due: fmt, clippy

Fix self-update breaking on systems without OpenSSL 3
  Cargo.lock
  Cargo.toml
Due: none

Fix self-update breaking on systems without OpenSSL 3 (#333)
  Cargo.lock
  Cargo.toml
Due: none

Refactor stack-status and branch-context MCP prompts (#334)
  twig-mcp/src/server.rs
Due: fmt, clippy

Delete .codex/skills directory
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-bulk-archive-change/SKILL.md
  .codex/skills/openspec-continue-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-ff-change/SKILL.md
  .codex/skills/openspec-new-change/SKILL.md
  .codex/skills/openspec-onboard/SKILL.md
  .codex/skills/openspec-sync-specs/SKILL.md
  .codex/skills/openspec-verify-change/SKILL.md
Due: mdformat

feat: enhance .gitignore with Node.js tooling patterns
  .gitignore
Due: none

feat: add --exclusive flag to branch depend command
  twig-cli/src/cli/branch.rs
  twig-core/src/state.rs
Due: fmt, clippy

docs: add Agent Skills for development workflows
  .skills/README.md
  .skills/branching/SKILL.md
  .skills/building/SKILL.md
  .skills/cascading/SKILL.md
  .skills/debugging/SKILL.md
  .skills/installing/SKILL.md
  .skills/linting/SKILL.md
  .skills/manual-testing/SKILL.md
  .skills/pull-requests/SKILL.md
  .skills/stacking/SKILL.md
  .skills/testing/SKILL.md
Due: mdformat

docs(skills): address PR review comments from agent-skills review
  .skills/branching/SKILL.md
  .skills/building/SKILL.md
  .skills/cascading/SKILL.md
  .skills/debugging/SKILL.md
  .skills/linting/SKILL.md
  .skills/manual-testing/SKILL.md
  .skills/pull-requests/SKILL.md
  .skills/stacking/SKILL.md
  .skills/testing/SKILL.md
Due: mdformat

branch depend: address PR #344 review feedback
  twig-cli/src/cli/branch.rs
  twig-core/src/state.rs
Due: fmt, clippy

fix(gitignore): scope JS patterns to twig-vscode/, remove boilerplate
  .gitignore
Due: none

fix: checkout_branch updates index before moving HEAD
  twig-core/src/git/branches.rs
Due: fmt, clippy

fix: suppress only_used_in_recursion lint on collect_rows; apply fmt
  AGENTS.md
  twig-cli/src/self_update/windows.rs
  twig-core/src/git/branches.rs
  twig-core/src/git/renderer.rs
Due: fmt, clippy, mdformat

Ran formatter
  .skills/README.md
  .skills/branching/SKILL.md
  .skills/building/SKILL.md
  .skills/cascading/SKILL.md
  .skills/debugging/SKILL.md
  .skills/installing/SKILL.md
  .skills/linting/SKILL.md
  .skills/manual-testing/SKILL.md
  .skills/pull-requests/SKILL.md
  .skills/stacking/SKILL.md
  .skills/testing/SKILL.md
  AGENTS.md
  twig-cli/src/self_update/windows.rs
  twig-core/src/git/renderer.rs
Due: fmt, clippy, mdformat

Add an example MCP configuration
  .mcp.json
Due: none

Add an example MCP configuration (#348)
  .mcp.json
Due: none

Add Rustdoc comments to twig-flow tree module
  plugins/twig-flow/src/tree.rs
Due: fmt, clippy
